GET - Récupérer un objet visible, pour le mettre dans son inventaire.
Syntaxe :
- get <item> : Valable pour les objets visibles dans la pièce.
- get <item> from <contenant> : Prend un objet placé dans un contenant. Si l'objet est une pile d'objet (pièces, flèche), alors prend la totalité de la pile.
- get <nombre> <item> : Si l'on souhaite prendre un certain nombre d'exemplaires de la pile d'objet spécifiée, on précède le nom de l'item par un nombre.
- get <nombre> <item> from <contenant> : Cela fonctionne aussi pour les items placés dans les contenants
