GIVE - Donne un item de son inventaire à une créature ou un joueur situé dans la même pièce.
Syntaxe :
- give <item> to <créature>
- give <nombre> <item> to <créature> : Si l'on souhaite donner un certain nombre d'exemplaires de la pile d'objet spécifiée, on précède le nom de l'item par un nombre.
Exemple :
- give 10 pièces to Zoltec : Donne 10 pièces à Zoltec.