UNLOCK - Déverrouille une issue fermée à clé dans la pièce où on se trouve, dans une direction donnée.
Syntaxe :
- unlock <direction> : Choisir une direction qui a une issue visible et verrouillée.
- unlock <direction> with <item> : Effectue un déverrouillage à l'aide d'un item de l'inventaire, (ça doit être une clé ou un passe)
