{% apply pre %}
:                                                                              |>>>
:                                                                              |
:              ▄▄                                                    ▄▄    _  _|_  _
: ▀███▀▀▀██▄ ▀███                                                  ▀███   |;|_|;|_|;|
:   ██   ▀██▄  ██                                                    ██   \\.    .  /
:   ██   ▄██   ██  ▄█▀██▄  ▄██▀███████████▄█████▄ ▀███  ▀███    ▄█▀▀███    \\:  .  /
:   ███████    ██ ██   ██  ██   ▀▀ ██    ██    ██   ██    ██  ▄██    ██     ||:   |
:   ██         ██  ▄█████  ▀█████▄ ██    ██    ██   ██    ██  ███    ██     ||:.  |
:   ██         ██ ██   ██  █▄   ██ ██    ██    ██   ██    ██  ▀██    ██     ||:  .|
: ▄████▄     ▄████▄████▀██▄██████▀████  ████  ████▄ ▀████▀███▄ ▀████▀███▄   ||:   |
:                   ___                            ____                     ||##, |
:          ____--'~    `--~~__            __ ----~    ~`---,             ___||##__|_
: ----~--~                   ~---__ ,--~'                  ~~----_____-~'           `~--~~
: {{ description }}
: version {{ version }}
: ----------------------------------------------------------------------------------------
{% endapply %}

{{ motd }}

Commandes de base :
{{ style.INFO }}help{{ style.END }} ........... Obtenir de l'aide
{{ style.INFO }}commands{{ style.END }} ....... Brèves descriptions des commandes
{{ style.INFO }}char{{ style.END }} ........... Gestion des personnages, choisir un personnage actif
{{ style.INFO }}quit{{ style.END }} ........... Déconnexion
{{ style.INFO }}enter{{ style.END }} .......... Démarrer le jeu avec le personnage actif
