HELP - Affiche l'aide concernant les commandes.
Cette commande affiche en détail les cas d'utilisation et la syntaxe d'une commande données.
{{ style.INFO }}Pour obtenir la liste des commandes disponibles, taper simplement "commands".{{ style.END }}
Syntaxe :
- help <commande> : Affiche le fichier d'aide correspondant à la commande spécifiée en paramètre.
- help guide : Affiche le manuel du débutant.
