USER - Gestion des utilisateurs.
Sous-commandes :
- user info <name> : (admin, mod) Affiche des informations sur un utilisateur.
- user grant <name> <role> : (admin) Donne un rôle supplémentaire à un utilisateur.
- user revoke <name> <role> : (admin) Retire un rôle à un utilisateur.
- user passwd <name> <password> : (admin) Modifie le mot de passe d'un utilisateur.
- user ban <name> <durée> <motif> : (mod) Ejecte et banni un utilisateur du serveur pour une durée temporaire ou indéterminée.
- user unban <name> : (mod) Lève le bannissement d'un utilisateur pour qu'il puisse se connecter à nouveau.
