{{ style.STRONG }}Exploration - 1{{ style.END }}
L'environnement du jeu est constitué de pièces, ou salles, ou endroits, qui sont reliés entre eux par des issues.
Si vous êtes en train d'explorer un château, c'est certainement des pièces ou des corridors que vous arpenterez.
Si vous êtes en forêt, évidemment, c'est plutôt des endroits tels que des clairières ou des chemins. Mais cela importe
peu : Quelle que soit la nature de l'environnement, naturel, ou artificiel, l'espace visitable est divisé en petites
unités géographiques que l'on nommera "pièce" et ces pièces sont reliées e tre elles par des issues.

Les commandes d'exploration vous permettront de vous déplacer de salles en salles empruntant l'une des issues possibles.
En général ces issues sont située au nord, à l'est, à l'ouest ou au sud. Mais il peut arriver qu'il y ait également
"dans les coins", c'est-à-dire au sud ouest ou au nord est par exemple.
