{{ style.STRONG }}Exploration - 4{{ style.END }}
Les pièces qui constituent l'environnement du jeu sont parfois vides, mais le plus souvent elles contiennent des meubles,
des objets au sol, et des personnages. Essayer la commande "look". Utilisée sans paramètre elle affiche une description
de la pièce dans laquelle on se trouve, et la liste des objets et créatures visibles dans cette pièce.
> look

Utilisée avec un paramètre, la commande "look" vue précédemment vous permet d'avoir une description précise
de l'entité que l'on souhaite examiner.
> look <entité>

Par exemple si la pièce contient un "bureau", vous pouvez taper :
> look bureau

Vous obtiendrez une description du bureau. Cela fonctionne pour toute entité présente dans la pièce (créatures, outils,
armes...).
