{{ style.STRONG }}Exploration - 3{{ style.END }}
Chaque pièce possède une ou plusieurs issues.
Pour emprunter une issue utiliser cette commande :
> go <direction>

Les directions possibles sont : nord, sud, est, ouest, haut, bas, sud-est, sud-ouest, nord-est, nord-ouest.
Elles peuvent être abrégées en n, e, o, s, se, so, ne, no, h, b.

A présent, grace aux commandes de base "look" et "go", vous savez examiner l'endroit où se trouve votre personnage
et vous savez vous déplacer de pièces en pièces.