{{ style.STRONG }}Exploration - 2{{ style.END }}
Pour avoir un descriptif de la piece dans laquelle vous vous trouvez, ainsi qu'une liste des issues possibles,
utilisez la commande suivante :
> look

En plus de la description, vous aurez la liste des objets visibles dans cette pièce (contenant, outils, décoration...),
ainsi que la liste des autres personnages et créatures. En dernier, vous aurez la liste des issues qu'il est possible
d'emprunter pour vous rendre dans une autre pièce. Cependant, attention certaines pièces peuvent être verrouillée,
auquel cas, il n'est pas possible de les emprunter sans au préalable les avoir déverrouillés.
