{{ style.STRONG }}Inventaire - 4 : Objets empilables{{ style.END }}
Certains objets de petites tailles et disponibles en grand nombre d'exemplaires comme les munitions, les devises monétaires, les provisions, etc... peuvent être empilés c'est a dire être combinés en une seule pile d'objets de même type pour qu'ils soient plus simples à afficher dans.les inventaire. On préfère en effet voir affiche une ligne d'inventaire "flèches x99" que 99 lignes de cet objet. Les commandes de rammassage ou d'abandon d'objets de ce type disposent d'une syntaxe afin de pouvoir diviser les piles. La commande suivante :
> get <objet> <nombre>
> get <objet> <nombre> from <conteneur>

permet de récupérer un certain nombre d'exemplaires de l'objet désigné. Dans ce cas le nombre d'exemplaires de l'objet
est retiré de la pile de la pièce, pour être ajoutée à la pile présente dans votre inventaire.
De la même manière, on peut abandonner un certain nombre d'exemplaires d'une pile d'objets.
> drop <objet> <nombre>
> drop <objet> <nombre> in <conteneur>