{{ style.STRONG }}Inventaire - 1{{ style.END }}
Comme tout jeu d'aventure, votre personnage a la possibilité de transporter des objets comme des armes, des vivres, des
boissons, des outils, des documents, etc... Il y a un ensemble de commandes dédiées pour transférer des objets depuis
les conteneurs de la pièce vers votre équipement et vice versa.
Utilisez la commande suivante pour ramasser un objet visible au sol de la pièce :
> get <objet>
