{{ style.STRONG }}Inventaire - 2 : Examiner l'inventaire d'un conteneur{{ style.END }}
Pour les objets qui seraient contenus dans un conteneur (un coffre ou une armoire
par exemple), il est possible déjà de vérifier l'inventaire du conteneur. La commande suivante affichera l'inventaire du
conteneur.
> look <conteneur>

Pour pouvoir examiner un objet qui se trouve dans un conteneur la commande est la même, mais avec une syntaxe
différente.
> look <objet> in <conteneur>

Récupérer un objet d'un conteneur : Il est possible de récupérer un objet depuis ce conteneur et de le placer dans votre
inventaire grâce à la commande suivante :
> get <objet> from <conteneur>

Pour pouvoir récupérer un objet depuis un conteneur il faut que le conteneur soit déverrouillé.
{% apply style('INFO') %}
• remarque : les mot-clés "in" et "from" sont en fait interchangeables et peuvent être utilisés indifféremment.
{% endapply %}
