{{ style.STRONG }}Inventaire - 3 : Abandonner des objets{{ style.END }}
Les objets de votre inventaire peuvent être abandonnés sur le sol de la pièce grâce à la
commande suivante :
> drop <objet>

L'objet abandonné peut être placé à l'intérieur d'un conteneur particulier, dans ce cas, il faut préciser le conteneur en
question
> drop <objet> in <conteneur>

Pour pouvoir déposer un objet dans un conteneur il faut que le conteneur soit déverrouillé.
