{{ style.STRONG }}Guide du débutants - 2{{ style.END }}
La création d'un personnage est nécessaire pour pouvoir entrer dans le jeu. Cela se fait grâce à la commande suivante :
> char create <nom-du-personnage>

Vous pouvez obtenir la liste de vos personnages déja créés grâce à la commande suivante :
> char list

Et afin d'obtenir de l'aide concernant la gestion de vos personnages, vous pouvez taper :
> help char
