{{ style.STRONG }}Guide du débutant - 1{{ style.END }}
Ceci est un serveur MUD (Multi User Dungeon). Il s'agit d'un jeu en mode texte dans lequel on dirige un personnage en
entrant des ordres au clavier comme dans un interpréteur de commande.
Le principe est simple : le jeu décrit l'endroit dans lequel vous êtes, la pièce, l'environnement, les objets visibles,
les autres personnages ou créatures.
Il existe des commandes pour obtenir des informations détaillées sur votre environnement, ou pour effectuer tout un tas
d'actions. Mais avant de vous lancer dans une aventure, il vous faut créer votre personnage.
