{{ style.STRONG }}Guide du débutants - 3{{ style.END }}
Une fois votre personnage créé, vous pouvez entrer dans le jeu avec la commande suivante :
> enter

Tandis que la commande "leave" vous permet de quitter l'aventure et retourner dans le mode principal, là où vous pouvez
changer de personnage ou gérer vos personnages.
> leave