{{ style.STRONG }}Guide du débutant - 4{{ style.END }}
Pour obtenir la liste des commandes de jeu disponnibles, une fois que vous avez rejoin la partie, tapez simplement :
> commands

Pour obtenir de l'aide détaillée pour une commande particulière, tapez :
> help <commande>

N'oubliez pas que certaines commandes sont exclusivement utilisable pendant la partie.