{#
    Affiche les valeurs numérique spécifiée sous la forme value/max en mettant une couleur rouge si value vaut zero
    @param value number
    @param max number
#}
{% macro valueMax(value, max) %}{% if value > 0 %}{{ value | style('num') }}{% else %}{{ value | style('neg')}}{% endif %} / {{ max | style('num') }}{% endmacro %}
