{#
    memory: {
        spells: {
            total: number,
            count: number
        },
        cantrips: {
            total: number,
            count: number
        }
    },
    spells: [
        {
            level: number,
            slots: {
                total: number
                count: number
            },
            prepared: [
                {
                    name: string,
                    ref: string,
                    ritual: boolean,
                    concentration: boolean
                }
            ],
            unprepared: [
                {
                    name: string,
                    ref: string,
                    ritual: boolean,
                    concentration: boolean
                }
            ]
        }
    ]
#}
{% import 'macros/value-max' as m %}
{% macro displaySpell(s) %}
    {{ s.name }}
    {% if s.ritual and s.concentration %}
        (rituel/concentration)
    {% else %}
        {% if s.ritual %} (rituel){% endif %}
        {% if s.concentration %} (concentration){% endif %}
    {% endif %}
{% endmacro %}
{% import _self as localMacros %}
{{ 'Votre livre de sorts' | style('strong') }}
Voici l'ensemble des sorts que vous avez appris. Les sorts que vous avez {{ 'préparé' | style('pos') }} peuvent être
lancés si le nombre d'utilisations n'est pas épuisé. Les sorts {{ 'non préparés' | style('disabled') }} sont toujours
dans votre livre de sorts, mais ne peuvent pas être lancés.
{% apply style('info') %}Préparez des sorts avec la commande "prepare {sort}" afin de pouvoir les lancer. Vous avez un nombre limité de sorts que vous pouvez préparer.{% endapply %}
Sorts {{ 'préparés' | style('pos') }} : {{ m.valueMax(memory.spells.count, memory.spells.total) }}
{% for spell in spells %}
    {% if spell.slots.total > 0 %}
        {% if spell.level == 0 %}
            Niveau {{ spell.level | style('num') }} (Cantrips) - Connus : {{ m.valueMax(memory.cantrips.count, memory.cantrips.total) }}
            {% if memory.cantrips.count > 0 %}
                {% for knownSpell in spell.known %}
                    {{ localMacros.displaySpell(knownSpell) | style('pos') }}
                {% endfor %}
            {% else %}
                {% apply style('warn') %}[:i]- Aucun cantrip appris (Ouah ! vous êtes vraiment un débutant).{% endapply %}
            {% endif %}
        {% else %}
            Niveau {{ spell.level | style('num') }} - Utilisations {{ m.valueMax(spell.slots.count, spell.slots.total) }} :
            {% set someUnpreparedSpells = spell.unprepared | length > 0 %}
            {% set somePreparedSpells = spell.prepared | length > 0 %}
            {% set noSpellKnown = not (someUnpreparedSpells or somePreparedSpells) %}
            {% if noSpellKnown %}
                {% apply style('warn') %}[:i]- Aucun sort appris à ce niveau.{% endapply %}
                {% apply style('info') %}Les sorts peuvent s'apprendre en recopiant des parchemins de sort.{% endapply %}
            {% elseif somePreparedSpells %}
                {% for preparedSpell in spell.prepared %}
                    {{ localMacros.displaySpell(preparedSpell) | style('pos')}}
                {% endfor %}
            {% else %}
                {% apply style('warn') %}[:i]- Aucun sort préparé à ce niveau.{% endapply %}
            {% endif %}
            {% if someUnpreparedSpells %}
                {% apply style('disabled') %}
                    {% for unpreparedSpell in spell.unprepared %}
                        {{ localMacros.displaySpell(unpreparedSpell) }}
                    {% endfor %}
                {% endapply %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
