{#
    Affiche la liste des entités spécifiée
    @param entities { name: string, stack: number, visible: boolean, remark: string, dead: boolean }[]
#}
{% macro displayEntities(entities) %}
    {% for entity in entities %}
        {% if entity.dead %}
            - {{ entity.name }} - 💀 {% apply style('DIMMED') %}cadavre{% endapply %}
        {% else %}
            {% apply packline %}
                - {% if entity.visible %}{{ entity.name }}{% else %}Présence invisible{% endif %}
                {% if entity.stack > 1 %} {% apply style('DIMMED') %}(x{{ entity.stack }}){% endapply %}{% endif %}
                {% if entity.visible and entity.remark %} - {{ entity.remark | style('INFO') }}{% endif %}
            {% endapply %}
        {% endif %}
    {% endfor %}
{% endmacro %}
