{#
  description d'une creature (NPC)
  La commande affiche l'aspect exterieur de la créature.
  Indique si la créature est morte
#}
{% apply packline %}
  {{ name | style('STRONG') }}
  {% if dead %}
    {% apply style('DIMMED') %}- 💀 cadavre{% endapply %}
  {% endif %}
{% endapply %}
{% for s in desc %}
  {{ s }}
{% endfor %}
