{#
  description d'une direction
#}
{% apply packline %}
  {{ direction }}
  {% if locked %}{% apply style('DIMMED') %}(🔒 verrouillé){% endapply %}{% endif %}
  {% if lockable and not locked %}{% apply style('DIMMED') %}(🔓 déverrouillé){% endapply %}{% endif %}
{% endapply %}
{% if discovered %}
  Cette issue mène à : {{ roomdest }}.
{% endif %}
{% if name %}- {{ name }}{% endif %}
{% if desc %}
  {% for s in desc %}{{ s }}{% endfor %}
{% endif %}
