{#
  description d'un objet transportable dans l'inventaire
#}
{% import 'macros/entity-list' as entityListMacro %}
{% apply packline %}
  {{ name | style('STRONG') }}{% if stack > 1 %} {% apply style('DIMMED') %}(x{{ stack }}){% endapply %}{% endif %}
  {% if inmypocket %}{% apply style('INFO') %}[dans l'inventaire]{% endapply %}{% endif %}
{% endapply %}
{% for s in desc %}
  {{ s }}
{% endfor %}
- Poids: {{ weight | round(1) | style('NUM') }}
{% apply packline %}
  {% if container %}{% apply style('INFO') %}Cet objet est un contenant.{% endapply %}{% endif %}
  {% if locked %}{% apply style('DIMMED') %}(🔒 verrouillé){% endapply %}{% endif %}
  {% if lockable and not locked %}{% apply style('DIMMED') %}(🔓 déverrouillé){% endapply %}{% endif %}
{% endapply %}
{% if not locked %}
  {{ entityListMacro.displayEntities(inventory) }}
{% endif %}
