{#
  description d'un objet placeable dans l'inventaire
#}
{% import 'macros/entity-list' as entityListMacro %}
{% apply packline %}
  {{ name | style('STRONG')}}
{% endapply %}
{% for s in desc %}
  {{ s }}
{% endfor %}
{% apply packline %}
  {% if container %}{% apply style('INFO') %}Cet objet est un contenant.{% endapply %}{% endif %}
  {% if locked %}{% apply style('DIMMED') %}(🔒 verrouillé){% endapply %}{% endif %}
  {% if lockable and not locked %}{% apply style('DIMMED') %}(🔓 déverrouillé){% endapply %}{% endif %}
{% endapply %}
{% if not locked %}
  {{ entityListMacro.displayEntities(inventory) }}
{% endif %}
