{#
  Description d'un joueur.
#}
{% apply packline %}
  {{ name | style('STRONG') }} {% apply style('DIMMED') %}- (Joueur){% endapply %}
  {% if dead %}
    {% apply style('DIMMED') %}- 💀 cadavre{% endapply %}
  {% endif %}
{% endapply %}
