{#
  Affiche la description de la pièce dans laquelle se trouve le PJ.
  Affiche la liste des issue visible, ainsi que la liste des entités présent dans la pièce (objet et créatures)
#}
{% import 'macros/entity-list' as entityListMacro %}
[{{ name | style('STRONG')}}]
{% for s in desc %}
  {{ s }}
{% endfor %}
{% for s in environment %}
  {{ s | style('INFO') }}
{% endfor %}
{% if visibility.blindness %}
  {% apply style('WARN') %}Un trouble de la vision vous empêche de distinguer votre environnement.{% endapply %}
{% endif %}
{% if visibility.darkness %}
  {% apply style('WARN') %}La luminosité de cet endroit est faible.{% endapply %}
{% endif %}
{% if epl > 0 %}
  Élement{% if epl > 1 %}s{% endif %} du décor :
  {{ entityListMacro.displayEntities(entities.placeables) }}
{% endif %}
{% break %}
{% apply packline %}
  Sortie{% if exits.length > 1 %}s{% endif %} visible{% if exits.length > 1 %}s{% endif %} :
  {% for s in exits %}
    {% if not loop.first %};{% endif %}
    {{ s.label }}
    {% if s.lockable %}
      {% if s.locked %}{% apply style('DIMMED') %}(🔒verrouillé){% endapply %}
      {% else %}{% apply style('POS') %}(🔓déverrouillé){% endapply %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endapply %}
{% set epl = entities.placeables | length %}
{% set eil = entities.items | length %}
{% set eal = entities.actors | length %}
{% if eal > 0 %}
  {% break %}
  Personnage{% if eal > 1 %}s{% endif %} :
  {{ entityListMacro.displayEntities(entities.actors) }}
{% endif %}
{% if eil > 0 %}
  {% break %}
  Objet{% if eil > 1 %}s{% endif %} :
  {{ entityListMacro.displayEntities(entities.items) }}
{% endif %}
