{% apply pre %}{{ 'Commande' | rpad(24) }} {{ 'Nb' | lpad(6) }} {{ 'Temps' | lpad(14) }}
{{ '' | rpad(24, '-') }} {{ '' | lpad(6, '-') }} {{ '' | lpad(14, '-') }}
{% endapply %}
{% for c in stats %}
  {% apply packline %}
    {{ c.command | rpad(24) }} {{ c.count | lpad(6) }} {{ c.time | round(2) | lpad(14) }}
  {% endapply %}
{% endfor %}
