{% for command in commands %}
- [#EEE]{{ command.name }}[#]{% if command.description %}: [#AAA]{{ command.description }}[#]{% endif %}
{% endfor %}
Taper help <command> pour consulter l'aide spécifique à une commande, et obtenir des informations sur la syntaxe, et les
différents cas d'utilisation.