{% apply style('STRONG') %}SERVER WORKING MEMORY{% endapply %}
{% apply table %}
Metric,Value
[#ddd]Maximum[#],"{{ heap.maximum | lpad(10, ' ') }} K"
[#ddd]Available[#],"{{ heap.available | lpad(10, ' ') }} K"
[#ddd]Allocated[#],"{{ heap.allocated | lpad(10, ' ') }} K"
[#ddd]Free[#],"{{ heap.free | lpad(10, ' ') }} %"
[#ddd]Program[#],"{{ heap.program | lpad(10, ' ') }} K"
{% endapply %}