{% apply style('strong') %}Actions de {{ name }}.{% endapply %}
{% for action in actions %}
    - {{ action.name }} : {{ action.uses | style('num') }} / {{ action.maxUses | style('num') }}{% if action.description %}{% apply style('info') %} - {{ action.description }}{% endapply %}
    {% endif %}
{% endfor %}
