{% import 'macros/progress-bar' as pb %}
{% set A_CONDITIONS = {
    'CONDITION_BLINDED': 'Cécité',
    'CONDITION_INVISIBLE': 'Invis.',
    'CONDITION_TRUE_SIGHT': 'Vision',
    'CONDITION_DEAFENED': 'Surdité',
    'CONDITION_PARALYZED': 'Para.',
    'CONDITION_PETRIFIED': 'Pétr.',
    'CONDITION_RESTRAINED': 'Enchev.',
    'CONDITION_GRAPPLED': 'Aggrip.',
    'CONDITION_STUNNED': 'Etourd.',
    'CONDITION_PRONE': 'Renvers.',
    'CONDITION_INCAPACITATED': 'Incap.',
    'CONDITION_UNCONSCIOUS': 'Incons.',
    'CONDITION_CHARMED': 'Charme',
    'CONDITION_FRIGHTENED': 'Terreur',
    'CONDITION_POISONED': 'Poison',
    'CONDITION_EXHAUSTED': 'Fatig.'
}
%}
{% macro csConditions (conditions) %}
    {% apply packline %}
        {% for c in conditions %}
            [{{ attribute(A_CONDITIONS, c) }}]
        {% endfor %}
    {% endapply %}
{% endmacro %}
{% import _self as macro %}
{% set hpBarLength = 20 %}
{% set youNameLength = you.name | length %}
{% set advNameLength = adv.name | length %}
{% if youNameLength > advNameLength %}
    {% set lmax = youNameLength %}
{% else %}
    {% set lmax = advNameLength %}
{% endif %}
{% if lmax > 20 %}
    {% set lmax = 20 %}
{% endif %}
{% set youHPLength = hpBarLength * you.hp100 // 100 %}
{% set advHPLength = hpBarLength * adv.hp100 // 100 %}

{% if you.hp100 >= 100 %}
    {% set youColor = '#0f0' %}
{% elseif you.hp100 >= 75 %}
    {% set youColor = '#9f0' %}
{% elseif you.hp100 >= 50 %}
    {% set youColor = '#ff0' %}
{% elseif you.hp100 >= 25 %}
    {% set youColor = '#f90' %}
{% else %}
    {% set youColor = '#f10' %}
{% endif %}
{% if adv.hp100 >= 100 %}
    {% set advColor = '#0f0' %}
{% elseif adv.hp100 >= 75 %}
    {% set advColor = '#9f0' %}
{% elseif adv.hp100 >= 50 %}
    {% set advColor = '#ff0' %}
{% elseif adv.hp100 >= 25 %}
    {% set advColor = '#f90' %}
{% else %}
    {% set advColor = '#f10' %}
{% endif %}
{% apply packline %}
    ⚔ {{ you.name | abbr(lmax) | slice(0, lmax) | rpad(lmax + 3, '·') }}
    {% if you.hp > 0 %}
        {{ pb.progressBar(you.hp, you.hpMax, hpBarLength) }}
        {{ macro.csConditions(you.conditions) }}
    {% else %}
        [{{ youColor }}]Hors de combat ![#]
    {% endif %}
{% endapply %}
{% apply packline %}
    ⚔ {{ adv.name | abbr(lmax) | slice(0, lmax) | rpad(lmax + 3, '·') }}
    {% if adv.hp > 0 %}
        {{ pb.progressBar(adv.hp, adv.hpMax, hpBarLength) }}
        {{ macro.csConditions(adv.conditions) }}
    {% else %}
        [{{ advColor }}]Hors de combat ![#]
    {% endif %}
{% endapply %}
