{% macro describeCombat (r, sType) %}
    {% apply style('strong') %}Affrontement {{ sType }} :{% endapply %}
    Vous avez {{ (r.you.toHit * 100) | round | style('num') }}% de chance de toucher {{ target }}, lui occasionnant en moyenne {{ r.you.dpt | round(1) | style('num') }} points de dégât par tour.
    {{ target }} a {{ (r.adv.toHit * 100) | round | style('num') }}% de chance de vous toucher, vous occasionnant en moyenne {{ r.adv.dpt | round(1) | style('num') }} points de dégât par tour.
    {% if r.you.hp.after <= 0 %}
        [fail] C'est {{ target }} qui a le plus de chance de gagner lors d'un affrontement {{ sType }}.
        {% apply packline %}
            Il lui faudra {{ r.adv.turns | style('num') }} tours pour remporter le combat,
            lui laissant {{ r.adv.hp.after | round(0, 'floor') | style('num') }} points de vie à l'issue (une perte de {{ (r.adv.hp.lost100 * 100) | round | style('num') }}% pour ce combat).
        {% endapply %}
    {% else %}
        [succ] C'est vous qui avez le plus de chance de gagner lors d'un affrontement {{ sType }}.
        {% apply packline %}
            Il vous faudra {{ r.you.turns | style('num') }} tours pour remporter le combat,
            vous laissant {{ r.you.hp.after | round(0, 'floor') | style('num') }} points de vie à l'issue (une perte de {{ (r.you.hp.lost100 * 100) | round | style('num') }}% pour ce combat).
        {% endapply %}
        {% if r.you.hp.lost100 > 0.75 %}
            Ce sera un combat très difficile, il faudra compter sur la chance, étant donné que vous perdriez plus des trois quarts de vos points de vie.
        {% elseif r.you.hp.lost100 > 0.5 %}
            Ce ne sera pas un combat facile. Loin de là. Vous pourriez perdre plus de la moitié de vos PV.
        {% elseif r.you.hp.lost100 > 0.25 %}
            C'est un combat gagné d'avance, mais qui vous vaudra plusieurs blessures.
        {% else %}
            C'est une victoire assurée.
        {% endif %}
    {% endif %}
{% endmacro %}
{% import _self as macro %}
Vous considérez un affrontement avec {{ target }} - {% apply style('info') %}à qui il reste {{ adv.hp100 | style('num') }}% de points de vie.{% endapply %}
{{ macro.describeCombat(melee, 'au contact') }}
{% if ranged.you.hasWeapon and ranged.adv.hasWeapon %}
    {{ macro.describeCombat(ranged, 'à distance') }}
{% else %}

    {% apply style('strong') %}Affrontement à distance :{% endapply %}
    {% apply packline %}
        {% if not ranged.adv.hasWeapon %}{{ target }} n'a pas d'arme à distance.{% endif %}
        {% if not ranged.you.hasWeapon %}Vous n'avez pas d'arme à distance.{% endif %}
    {% endapply %}
{% endif %}
