{#
  Liste des objets contenu dans l'inventaire
#}
{% apply style('strong') %}Equipement :{% endapply %}
{% for eq in equipment %}
  - {{ eq.slot | rpad(20, '.') }} {{ eq.item.name }}{% if eq.item.stack > 1 %} (x{{ eq.item.stack }}){% endif %}{% if eq.item.remark %} - {{ eq.item.remark }}{% endif %}
{% endfor %}
{% apply style('strong') %}Inventaire :{% endapply %}
{% for item in entities %}
  - {{ item.name }}{% if item.stack > 1 %} (x{{ item.stack }}){% endif %}{% if item.remark %} - {{ item.remark }}{% endif %}
{% endfor %}
{% set cWeights = ['#0f0', '#ff0', '#f80', '#f00'] %}
Poids transporté: {{ weight | round(0, 'floor') | style(cWeights[encumbrance]) }} / {{ carryingCapacity | style('num')}}
