{#
    Ecran de statistique du personnage
#}
{% import 'macros/progress-bar' as pb %}
{% set hpBarLength = 20 %}
{% apply packline %}
    {{ name | style('strong') }}
    - Niveau: {{ level | style('num') }}
    - [ {% for c in classes %}{{ c.class }}: {{ c.levels | style('num') }} {% endfor %}]
{% endapply %}
{% apply packline %}
    Santé: {{ hp.current | style('num') }} / {{ hp.max | style('num') }}
    {{ pb.progressBar(hp.current, hp.max, hpBarLength) }}
    - Attaque: {{ atk | style('num')}}{% if atkCount > 1 %} (x{{ atkCount | style('num') }}){% endif %}
    - Armure: {{ ac | style('num') }}
{% endapply %}
{% set av = attributes.values %}
{% set ab = attributes.base %}
{% set strb = av.strength > ab.strength %}
{% set dexb = av.dexterity > ab.dexterity %}
{% set conb = av.constitution > ab.constitution %}
{% set intb = av.intelligence > ab.intelligence %}
{% set wisb = av.wisdom > ab.wisdom %}
{% set chab = av.charisma > ab.charisma %}
{% set strm = av.strength < ab.strength %}
{% set dexm = av.dexterity < ab.dexterity %}
{% set conm = av.constitution < ab.constitution %}
{% set intm = av.intelligence < ab.intelligence %}
{% set wism = av.wisdom < ab.wisdom %}
{% set cham = av.charisma < ab.charisma %}

{% apply packline %}
    {{ 'Force ' | rpad(16, '.') }}
    {{ attributes.values.strength | lpad(2) | style(strb ? 'pos' : (strm ? 'neg' : 'num' )) }}
    |
    {{ 'Intelligence ' | rpad(16, '.') }}
    {{ attributes.values.intelligence | lpad(2) | style(strb ? 'pos' : (strm ? 'neg' : 'num' )) }}
{% endapply %}
{% apply packline %}
    {{ 'Dextérité ' | rpad(16, '.') }}
    {{ attributes.values.dexterity | lpad(2) | style(strb ? 'pos' : (strm ? 'neg' : 'num' )) }}
    |
    {{ 'Sagesse ' | rpad(16, '.') }}
    {{ attributes.values.wisdom | lpad(2) | style(strb ? 'pos' : (strm ? 'neg' : 'num' )) }}
{% endapply %}
{% apply packline %}
    {{ 'Constitution ' | rpad(16, '.') }}
    {{ attributes.values.constitution | lpad(2) | style(strb ? 'pos' : (strm ? 'neg' : 'num' )) }}
    |
    {{ 'Charisma ' | rpad(16, '.') }}
    {{ attributes.values.charisma | lpad(2) | style(strb ? 'pos' : (strm ? 'neg' : 'num' )) }}
{% endapply %}
{% for w in warnings %}
    - {{ w | style('warn') }}
{% endfor %}
