{% if forever %}
  Vous avez été banni(e) du serveur !
  - Motif : {{ reason }}
  - Durée : Indéterminée.
{% else %}
  Vous avez été banni(e) du serveur !
  - Motif : {{ reason }}
  - Durée : Jusqu'au {{ (until / 1000) | round | date('Y-m-d H:i') }}
{% endif %}
