{% apply packline %}
  Utilisateur : {{ name }}
  {% if email %}<{{ email }}>{% endif %}
{% endapply %}
{% apply packline %}
  - Connexion :
  {% if connected %}
    en ligne
  {% else %}
    hors-ligne
  {% endif %}
{% endapply %}
- Création du compte : {{ (dateCreation / 1000) | round | date('Y-m-d') }}
{% apply packline %}
  {% if dateLogin %}
    - Dernière connexion : {{ (dateLogin / 1000) | round | date('Y-m-d H:i') }}
  {% else %}
    - Dernière connexion : Jamais
  {% endif %}
{% endapply %}
- Rôles : {{ roles | join(', ') | replace({ 'USER_ROLE_': '' }) | replace({ '_': '-' }) | lower }}
- Nombre de personnages : {{ charCount }}
- Liste des personnages : {{ characters | join(', ') }}
- Personnage connecté : {{ currentCharacter }}
{% if banishment.banned %}
  {% apply packline %}
    Bannissement}} :
    {% if banishment.forever %}
      Permanent
    {% else %}
      Jusqu'au {{ (banishment.until / 1000) | round | date('Y-m-d H:i') }}
    {% endif %}
  {% endapply %}
  - Par : {{ banishment.banner }}
  - Raison : {{ banishment.reason }}
{% endif %}