{% apply table %}
    Utilisateur, Personnage, Date connexion
    {% for u in users %}
        "{{ u.name }}","{{ u.character }}","{{ (u.dateConnection / 1000) | round() | date('Y-m-d H:i') }}"
    {% endfor %}
{% endapply %}