{% apply packline %}
    La Dextérité est une caractéristique polyvalente qui joue un rôle essentiel dans de nombreux aspects du jeu, notamment :
{% endapply %}
{% apply packline %}
    [#fff]Précision au combat à distance[#] : Les personnages utilisent leur Dextérité pour déterminer leur précision et
    leurs dégâts lorsqu'ils attaquent à distance avec des armes telles que les arcs, les arbalètes,
    les dagues de lancer, etc. Un modificateur de Dextérité élevé augmente les chances de toucher et la puissance de
    frappe à distance.
{% endapply %}
{% apply packline %}
    [#fff]Réflexes et évitement[#] : La Dextérité est utilisée pour résoudre les jets de sauvegarde de Dextérité, qui
    permettent de réduire les dégâts causés par des attaques de zone, d'éviter les pièges et de réagir rapidement à des
    menaces imprévues.
{% endapply %}
{% apply packline %}
    [#fff]Initiative[#] : La Dextérité influence l'ordre d'initiative lors des combats, ce qui détermine l'ordre dans lequel
    les personnages agissent.
{% endapply %}
{% apply packline %}
    [#fff]Utilisation d'armes légères[#] : Certaines armes légères et fines, comme les rapières et les dagues, sont souvent
    utilisées avec la Dextérité plutôt qu'avec la Force.
{% endapply %}
{% apply packline %}
[#fff]Acrobaties et furtivité[#] : La Dextérité est utilisée pour effectuer des acrobaties, se faufiler, grimper, sauter
    et effectuer d'autres mouvements agiles. Elle peut également influencer la discrétion d'un personnage lorsqu'il
    essaie de se cacher ou de se déplacer silencieusement.
{% endapply %}
{% apply packline %}
    [#fff]Utilisation d'armures légères[#] : Les personnages ayant une Dextérité élevée peuvent bénéficier d'une meilleure
    Classe d'Armure lorsqu'ils portent des armures légères, car leur agilité leur permet d'éviter les attaques plus
    efficacement.
{% endapply %}
{% apply packline %}
En résumé, la Dextérité est une caractéristique clé pour les personnages qui se spécialisent dans la précision au combat
à distance, les réflexes rapides, la furtivité, l'agilité physique et les compétences liées à la coordination. Elle a un
impact significatif sur la façon dont un personnage interagit avec le monde et les défis qui se présentent à lui dans le
jeu.
{% endapply %}
