{% apply packline %}
Le Charisme est une caractéristique polyvalente qui joue un rôle crucial dans de nombreux aspects du jeu, notamment :
{% endapply %}
{% apply packline %}
[#fff]Jet de sauvegarde de Charisme : Le Charisme est utilisé pour résoudre les jets de sauvegarde de Charisme, qui permettent de résister à des effets magiques ou sociaux tels que la manipulation mentale, la possession, la séduction ou la persuasion.
{% endapply %}
{% apply packline %}
[#fff]Interactions sociales : Le Charisme influe sur la capacité d'un personnage à persuader, convaincre, négocier et influencer d'autres personnages, qu'il s'agisse de marchandage, de diplomatie, de manipulation ou d'intimidation.
{% endapply %}
{% apply packline %}
[#fff]Utilisation de compétences sociales : Le Charisme est associé à des compétences sociales telles que la Persuasion, la Tromperie (pour mentir ou dissimuler) et l'Intimidation (pour inciter à la peur ou à la soumission).
{% endapply %}
{% apply packline %}
[#fff]Leadership : Le Charisme peut refléter la capacité d'un personnage à prendre le leadership d'un groupe, à inspirer ses compagnons, à motiver ses alliés et à prendre des décisions efficaces en tant que chef.
{% endapply %}
{% apply packline %}
[#fff]Capacités de lanceur de sorts : Certaines classes de lanceurs de sorts, comme les ensorceleurs et les bardes, utilisent le Charisme comme caractéristique de jauge de sorts. Un modificateur de Charisme élevé augmente leur puissance magique et leur capacité à lancer des sorts efficacement.
{% endapply %}
{% apply packline %}
[#fff]Apparence et présence : Le Charisme peut refléter la beauté physique, la prestance, le charme personnel et la capacité d'un personnage à attirer l'attention et à la retenir.
{% endapply %}
{% apply packline %}
[#fff]En résumé, le Charisme est essentiel pour les personnages qui se spécialisent dans la diplomatie, la persuasion, la manipulation sociale, le leadership, l'interaction avec d'autres personnages et l'utilisation de sorts basés sur le Charisme. Il influence grandement la façon dont un personnage interagit avec le monde et les autres personnages dans le jeu, que ce soit en tant que négociateur astucieux, séducteur charismatique, ou leader inspirant.
{% endapply %}
