{% apply packline %}
    La Constitution est une caractéristique fondamentale qui joue un rôle crucial dans de nombreux aspects du jeu, notamment :
{% endapply %}
{% apply packline %}
    [#fff]Points de vie (PV)[#] : La Constitution influence directement le nombre de points de vie d'un personnage. Un modificateur
    de Constitution élevé augmente le pool de PV du personnage, ce qui le rend plus résistant aux blessures et aux dégâts.
{% endapply %}
{% apply packline %}
    [#fff]Jet de sauvegarde de Constitution[#] : La Constitution est utilisée pour résoudre les jets de sauvegarde de Constitution,
    qui permettent de résister aux effets nocifs tels que les poisons, les maladies, les conditions d'empoisonnement et
    les sorts qui drainent la vitalité.
{% endapply %}
{% apply packline %}
    [#fff]Endurance physique[#] : La Constitution reflète l'endurance physique du personnage, sa capacité à résister à la fatigue, à
    l'épuisement et à des conditions environnementales extrêmes, comme le froid intense ou la chaleur accablante.
{% endapply %}
{% apply packline %}
    [#fff]Concentration[#] : Lorsqu'un personnage lance un sort et subit des dégâts pendant la concentration, il doit réussir un jet
    de sauvegarde de Constitution pour maintenir sa concentration et ne pas perdre le sort.
{% endapply %}
{% apply packline %}
    En résumé, la Constitution est essentielle pour la résistance, la santé et l'endurance d'un personnage. Elle influence
    sa capacité à encaisser des dégâts, à résister aux effets nocifs et à maintenir sa concentration dans des situations
    critiques. Une Constitution élevée est souvent recherchée par les personnages qui jouent des rôles de tank ou de
    défenseurs, car elle les rend plus durables sur le champ de bataille.
{% endapply %}
