{% apply packline %}
[#fff]La Sagesse est une caractéristique qui joue un rôle crucial dans de nombreux aspects du jeu, notamment :
{% endapply %}
{% apply packline %}
[#fff]Jets de sauvegarde de Sagesse[#] : La Sagesse est utilisée pour résoudre les jets de sauvegarde de Sagesse, qui
    permettent de résister à des effets mentaux ou magiques tels que la peur, la confusion, la domination mentale et
    l'illusion.
{% endapply %}
{% apply packline %}
[#fff]Perception et sensibilité[#] : La Sagesse influence la capacité d'un personnage à percevoir son environnement, à
    détecter des menaces cachées, à discerner la vérité des mensonges et à détecter des indices dans le monde qui
    l'entoure.
{% endapply %}
{% apply packline %}
[#fff]Sens moral et éthique[#] : La Sagesse reflète la capacité d'un personnage à prendre des décisions morales et
    éthiques, à faire preuve de discernement dans des situations complexes et à résister aux tentations ou aux pressions
    extérieures.
{% endapply %}
{% apply packline %}
[#fff]Survie et connaissance de la nature[#] : La Sagesse est liée à la survie en milieu naturel, à la connaissance de
    la faune et de la flore, ainsi qu'à la compréhension des éléments et de l'environnement.
{% endapply %}
{% apply packline %}
[#fff]Classe de lanceur de sorts[#] : Certaines classes de lanceurs de sorts, comme les druides et les prêtres,
    utilisent la Sagesse comme caractéristique de jauge de sorts. Un modificateur de Sagesse élevé augmente leur
    puissance magique et leur capacité à lancer des sorts efficacement.
{% endapply %}
{% apply packline %}
[#fff]Discernement et prudence[#] : La Sagesse est utilisée pour évaluer les situations, prendre des décisions
    éclairées, résoudre des conflits pacifiquement et éviter les pièges et les dangers potentiels.
{% endapply %}
{% apply packline %}
En résumé, la Sagesse est essentielle pour les personnages qui se spécialisent dans la perception, l'intuition, la
    résistance aux influences mentales, la sagesse morale, la survie en milieu naturel et la compréhension du monde qui
    les entoure. Elle a un impact significatif sur la façon dont un personnage interagit avec son environnement et ses
    compagnons de jeu, que ce soit en tant qu'éclaireur, guérisseur, philosophe ou détective.
{% endapply %}
