{% apply packline %}
    La Force est importante pour plusieurs aspects du jeu, notamment :
{% endapply %}
{% apply packline %}
    [#fff]Attaque au corps à corps[#] : Les personnages utilisent leur Force pour déterminer leur précision et leurs dégâts
    lorsqu'ils attaquent au corps à corps avec des armes telles que les épées, les haches, les marteaux, etc.
    Un modificateur de Force élevé peut augmenter la chance de toucher et la puissance de frappe d'un personnage.
{% endapply %}
{% apply packline %}
    [#fff]Capacité à soulever et porter des objets lourds[#] : La Force détermine la capacité d'un personnage à soulever et
    à porter des objets lourds, ce qui peut être utile pour résoudre des énigmes ou des obstacles liés à la force physique.
    Un personnage ayant une force élevée pourra transporter davantage d'objets dans son inventaire.
{% endapply %}
{% apply packline %}
    [#fff]Jet de sauvegarde de Force[#] : La Force peut être utilisée pour résister à certaines menaces physiques telles
    que les sorts de contrôle mental ou les effets de déplacement (par exemple pour se libérer d'un enchevêtrement).
{% endapply %}
{% apply packline %}
    [#fff]Utilisation d'armures et d'armes lourdes[#] : Certaines armures et armes lourdes nécessitent une Force minimale pour être
    portées ou utilisées efficacement. Si un personnage n'a pas une Force suffisamment élevée, il peut subir des pénalités
    ou des limitations dans l'utilisation de ces équipements.
{% endapply %}
{% apply packline %}
En résumé, la Force est essentielle pour les personnages qui se spécialisent dans le combat au corps à corps, la
manipulation d'objets lourds et la résistance aux menaces physiques. Elle peut également influencer la manière dont un
personnage interagit avec le monde physique qui l'entoure dans le jeu.
{% endapply %}
