{% apply packline %}
L'Intelligence est une caractéristique polyvalente qui joue un rôle essentiel dans de nombreux aspects du jeu, notamment :
{% endapply %}
{% apply packline %}
[#fff]Compétences et connaissances[#] : L'Intelligence influe sur les compétences liées à la connaissance, telles que l'Arcanisme, l'Histoire, la Religion, la Nature, la Médecine, etc. Les personnages ayant une Intelligence élevée sont plus aptes à résoudre des énigmes, à identifier des créatures, à mémoriser des informations et à comprendre des sujets complexes.
{% endapply %}
{% apply packline %}
[#fff]Sorts et lanceurs de sorts[#] : Les classes de lanceurs de sorts, comme les magiciens, utilisent souvent l'Intelligence comme caractéristique de jauge de sorts. Un modificateur d'Intelligence élevé augmente leur puissance magique et leur capacité à lancer des sorts efficacement.
{% endapply %}
{% apply packline %}
[#fff]Mémorisation des sorts[#] : Les lanceurs de sorts doivent avoir une Intelligence suffisamment élevée pour mémoriser et lancer des sorts de niveau supérieur. Certains sorts peuvent également dépendre de l'Intelligence pour déterminer leur efficacité ou leur durée.
{% endapply %}
{% apply packline %}
[#fff]Sens de la logique[#] : L'Intelligence est utilisée pour résoudre des énigmes, déduire des informations, analyser des situations et prendre des décisions logiques dans le jeu.
{% endapply %}
{% apply packline %}
[#fff]Magie et objets magiques[#] : L'Intelligence peut influencer la capacité d'un personnage à utiliser ou à comprendre des objets magiques complexes, tels que les parchemins magiques, les artefacts ou les dispositifs enchantés.
{% endapply %}
{% apply packline %}
[#fff]En résumé, l'Intelligence est essentielle pour les personnages qui se spécialisent dans la connaissance, la magie, la résolution d'énigmes et la prise de décisions basées sur la logique. Elle a un impact significatif sur la façon dont un personnage interagit avec le monde qui l'entoure dans le jeu, que ce soit en tant que savant érudit, magicien puissant ou enquêteur astucieux.
{% endapply %}
