{% macro progressBar(nValue, nValueMax, nBarSize) %}
    {% set value100 = 100 * nValue / nValueMax %}
    {% set valueSize = nBarSize * nValue // nValueMax %}
    {% if value100 >= 100 %}
        {% set barColor = '#0f0' %}
    {% elseif value100 >= 75 %}
        {% set barColor = '#9f0' %}
    {% elseif value100 >= 50 %}
        {% set barColor = '#ff0' %}
    {% elseif value100 >= 25 %}
        {% set barColor = '#f90' %}
    {% else %}
        {% set barColor = '#f10' %}
    {% endif %}
    {{ '' | lpad(valueSize, '|') | style(barColor) }}{{ '' | lpad(nBarSize - valueSize, '|') | style('disabled') }}
{% endmacro %}